<div class="container">
  <div class="target-left text-center">
    Crea tu CV y editalo a golpe de click
  </div>
  <div class="target-center text-center">
    <p>CV EDITABLE</p>
    <button class="btn btn-secondary" [routerLink]="['/login']">Entrar</button>
  </div>
  <div class="target-left text-center">
    Elige el color que más se adapte a ti
  </div>
  <div class="target-right text-center">Estructura tu CV en tarjetas</div>
  <div class="target-right text-center">
    Create una cuenta y comienza a desarrollar tu CV
  </div>
</div>
