<img class="img" src="/assets/img/user.png" width="100" height="100" />
<div class="target-name">
    <p class="target-title">DATOS PERSONALES</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, similique!
    Corrupti facere, nihil, commodi magni sapiente quo aliquam dolorum
    voluptatem illum asperiores, beatae quos sed unde cumque eligendi libero in?
  </p>
</div>
<div class="target-contact">
    <p class="target-title">CONTACTO</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, similique!
    Corrupti facere, nihil, commodi magni sapiente quo aliquam dolorum
    voluptatem illum asperiores, beatae quos sed unde cumque eligendi libero in?
  </p>
</div>
<div class="target-rrss">
    <p class="target-title">RRSS</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, similique!
    Corrupti facere, nihil, commodi magni sapiente quo aliquam dolorum
    voluptatem illum asperiores, beatae quos sed unde cumque eligendi libero in?
  </p>
</div>
<div class="target-formacion">
    <p class="target-title">FORMACIÓN ACADÉMICA</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, similique!
    Corrupti facere, nihil, commodi magni sapiente quo aliquam dolorum
    voluptatem illum asperiores, beatae quos sed unde cumque eligendi libero in?
  </p>
</div>
<div class="target-experience">
    <p class="target-title">EXPERIENCIA LABORAL</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, similique!
    Corrupti facere, nihil, commodi magni sapiente quo aliquam dolorum
    voluptatem illum asperiores, beatae quos sed unde cumque eligendi libero in?
  </p>
</div>
<div class="target-extratitle">
    <p class="target-title">TÍTULOS EXTRAOFICIALES</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, similique!
    Corrupti facere, nihil, commodi magni sapiente quo aliquam dolorum
    voluptatem illum asperiores, beatae quos sed unde cumque eligendi libero in?
  </p>
</div>
<div class="target-other">
    <p class="target-title">OTROS DATOS DE INTERÉS</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, similique!
    Corrupti facere, nihil, commodi magni sapiente quo aliquam dolorum
    voluptatem illum asperiores, beatae quos sed unde cumque eligendi libero in?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, similique!
    Corrupti facere, nihil, commodi magni sapiente quo aliquam dolorum
    voluptatem illum asperiores, beatae quos sed unde cumque eligendi libero in?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, similique!
    Corrupti facere, nihil, commodi magni sapiente quo aliquam dolorum
    voluptatem illum asperiores, beatae quos sed unde cumque eligendi libero in?
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
</div>
